<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Recibiste una nueva consulta de <%= @name %></h1>
    <p>
      Mensaje: "<%= @contact_message %>".
    </p>
    <p>Para contestar resonde este email a <%= @email %></p>
  </body>
</html>
